@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Regular.ttf') format('ttf');
  font-style:normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-LightItalic.ttf') format('ttf');
  font-style:italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-BoldItalic.ttf') format('ttf');
  font-style:normal;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6em;
  color: #5D6063;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.image-left img{
  display: none;
}

section {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.page-header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:80px;
  padding: 5px;
  background: #D6E9FE;
}

.top-menu {
  width: 100%;
  /*background: yellow;*/
  padding-left: 10px;
  padding-right: 10px;
}

.top-menu > li{
  display: inline;
  margin-right: 50px;
  list-style: none;
}

.top-menu > li:last-of-type {
  margin-right: 0;
}

.article-header {
  margin-top: 40px;
  height: 140px;
  font-style: normal;
  font-size: 20pt;
  background-color: darkgray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-header {
  font-style: italic;
  font-size: 20pt;
}

.content{
  display: flex;
  justify-content: center;
  width:100%;
  background: #D6E9FE;
  padding-left: 5px;
}

.linked-skills {
  /*width: 100%;*/
  /*background: yellow;*/
  padding-left: 20px;
  padding-right: 20px;
}

a{
  color: black;
}

.button-skills {
  display: inline-block;
  width:60px;
  height: 60px;
  background: darkgray;
  margin-right: 15px;
  text-align: center;
  border-radius: 50%;
}

.button-skills > li{
  /*display: inline-block;*/
  list-style: none;
  /*background: darkgray;*/
  padding-top: 25%;
}

.button-skills > li > a{
  color: white;
}

.button-skills :hover{
  width:60px;
  height: 60px;
  background: gray;
  border-radius: 50%;
}

.button-skills > li:last-of-type {
  margin-right: 0;
}

.profile-menu{
  display: flex;
  justify-content: center;
  width:100%;
  background: #D6E9FE;
  padding-left: 5px;
  order:2;
}

.linked-info {
  /*width: 100%;*/
  /*background: yellow;*/
  padding-left: 20px;
  padding-right: 20px;
}

.linked-info > li{
  display: inline;
  margin-right: 50px;
  list-style: none;
}

.linked-info > li:last-of-type {
  margin-right: 0;
}

.bold-italic{
  width:80%;
  font-style: italic;
  font-weight:normal;
  font-size: 18pt;
  text-align: center;
}

.plain-text{
  height: 120px;
  font-weight: normal;
  font-size: 14pt;
  text-align: center;
}

.right-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
}

.quote{
  height: 40px;
  font-style:italic;
  font-size: 18pt;
  text-align: center;
  order:1;
}

footer{
  width:100%;
  font-style: italic;
  font-size: 12pt;
  text-align: center;
}

/* Tablet Styles */
@media only screen and (min-width: 600px) and (max-width: 960px) {
  .container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
  }
  .main-content{
    width: 50%;
    order:1;
  }
  .right-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:50%;
    order:2;
  }
  .profile-menu{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    margin-top: 40px;
    background: darkgray;
    order:0;
  }
  .quote{
    height: 40px;
    font-style:italic;
    font-size: 18pt;
    text-align: center;
    order:0;
  }

  .linked-info > li > a{
    color: white;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }

  .page-header {
    /*
     * if I have this as fixed then the menu
     * is not restricted to width 960px.
     */
    position:relative;
  }
  .container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
  }

  .image-left{
    width: 33.3%;
    order:1;
  }
  .image-left img{
    display: block;
    width:100%;
    order:1;
  }

  .main-content{
    width: 33.3%;
    order:2;
  }
  .right-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:33.3%;
    order:3;
  }
  .profile-menu{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    margin-top: 40px;
    background: darkgray;
    order:0;
  }

  .linked-info > li > a{
    color: white;
  }

  .quote{
    height: 40px;
    font-style:italic;
    font-size: 18pt;
    text-align: center;
    order:0;
  }

}
